.expandable {
  --xy-padding: 14px;
  --border-radius: 6px;
  --transition-ms: 0.3s;

  max-width: 500px;
  margin: 1em 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.expandable--open .expandable__content-wrapper {
  grid-template-rows: 1fr;
}

.expandable--open .expandable__icon {
  transform: rotate(-90deg);
}

.expandable__title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--xy-padding);
  user-select: none;
  background-color: #009578;
  color: #fff;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  cursor: pointer;
}

.expandable__title {
  font-weight: bold;
}

.expandable__icon {
  transition: transform var(--transition-ms);
}

.expandable__content {
  padding: 0 var(--xy-padding);
  line-height: 1.4;
  font-size: 0.85em;
  border: 1px solid #dddddd;
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
}

.expandable__content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-ms) ease-in-out;
}
